@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Rock+Salt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}

.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .onest-thin {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

.onest-norm {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .onest-thick {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  ::-webkit-scrollbar{
    display: none;
  }

.gradient-custom {
    background: #c471f5;
  
    background: -webkit-linear-gradient(to right, rgb(100, 105, 245), rgb(96, 117, 211));
  
    background: linear-gradient(to right, rgb(129, 132, 218), rgb(237, 136, 218))
  }

@media (max-width:640px){
    a.active{
        background-color: black;
        color: black;
    }
}
  